/* Color Swatch ------------------------------------
	colorado blue		003d73	rgba(0,61,115,1.0)
	colorado green		ccbe00	rgba(204,190,0,1.0)
	colorado red		cd1c24	rgba(237,28,36,1.0)
--------------------------------------------------*/

/* Font to be used ---------------------------------
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-weight: 500;
	font-weight: 800;
--------------------------------------------------*/

body {
	max-width: 800px;
	margin: 0 auto;
	background-color: #632726;
	background-image: url(../images/COS_bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
	font: 100%/1.5 'Dosis', sans-serif;
	/*font-weight: 400;*/
}

#wrapper {
	width: 100%; /* 800px */;
	margin: 0 auto;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	color: #cd1c24;
	text-shadow: 2px 2px #003d73;
}

h2 h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
}

 h4 h5 h6 {
 	font-family: 'Dosis', sans-serif;
	font-weight: 400;
 }

header {
	width: 100%; /* same width as wrapper */
	padding: 10px 0;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
}

#logo {
	float: left;
	margin: 0 2.5% /* 20px/800px */ 0 13.25% /* 106px/800px */;
	width: 25%; /* 200px/800px */
}

#logo img {
	max-width: 100%;
}

#intro {
	width: 100%; /* same width as wrapper */
	margin: 0;
	color: #fff;
	text-shadow: 0px 1px 0px #000, 0px 0px 6px #000;
	clear: left;
}

#intro p {
	font-size: 1.25em; /*20px*/
}

#columns {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}

#world_champs {
	width: 100%; /* same width as wrapper */
	background-color: rgba(204,190,0,.8);
	border-radius: 10px;
	text-align: center;
	/* padding: 5px; */
}

#world_champs p {
	font-size: .9375em; /*15px*/
}

#explore {
	width: 62.5%; /* 500px /800px */
	overflow: hidden;
	margin: 0;
	padding: 0;
	color: #fff;
	float: left;
}

#explore p {
	font-size: 1.25em; /*20px*/
}

/* begin button
----------------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	/*font-weight: 400;*/
	text-align: center;
	text-decoration: none;
	font: 14px/100% 'Dosis', Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.medium {
	font-size: 15px;
	padding: .4em 1.5em .42em;
}
/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
/* end button
----------------------------------------------------- */

#main_nav ul li{
	display: inline;
	float: left;
	margin: 0 2% /* 10px/500px */;
	font-size: 1.25em; /*20px*/
}

aside {
	width: 37.5%; /* 300px /800px */
	background-color: rgba(255,165,0,0.8);
	color: #fff;
	text-align: center;
	float: right;
	border-radius: 10px;
}

#photo_gallery {
	width 100%; /* same wdith as wrapper */
	margin: 0;
	color: #fff;
	clear: both;
}

#photo_gallery p {
	font-size: 1.25em; /*20px*/
}

#menu_sections {
	width 100%; /* same width as wrapper */
	color: #fff;
	font-size: 1.25em; /*20px*/
	text-shadow: 0px 1px 0px #000, 0px 0px 6px #000;
}

#footer {
	width: 100%; /* same width as wrapper */
	color: #fff;
	font-size: 1.25em; /*20px*/
	text-shadow: 0px 1px 0px #000, 0px 0px 6px #000;
}

ol li {
	margin: 1.25% /* 10px/800px */;
	padding: 1.25% /* 10px/800px */;
	border: solid 1px #fff;
	background: orange;
	display: inline;
	font-size: 1.25em; /*20px*/
}

/* pseudo classes for styling links */

a:link {
	color: #ff6347;
	text-decoration: none;
}

a:visited {
	color: #dc143c;
}

a:hover { 
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000, 0px 0px 6px #000;
} /* Since any element can be hovered over this can apply to any element */

a:active {
	color: #00ff7f;
} /* This applies to when the link is actually being clicked */

E:focus {

} /* primarily useful in forms */

ul {
	list-style-type: none;
}

#links {
	width: 37.5%; /* (320px - 20px padding) 300px /800px */
	padding: 1.6666666666667% /* 5px/300px */ 3.3333333333333% /* 10px/300px */;
	background-color: rgba(0,61,115,0.3);
	border-radius: 10px;
	float: left;
}

#subscription_form {
	width: 57.5%; /* (480px - 20px padding) 460px /800px */
	padding: 1.0869565217391% /* 5px/460px */ 2.1739130434783% /* 10px/460px */;
	background-color: rgba(0,61,115,0.5);
	color: #fff;
	border-radius: 10px;
	float: right;
}

/* Media Queries
--------------------------*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width:799px) {
	#logo {
		float: none;
	}
	
	#columns {
	-moz-column-count:auto; /* Firefox */
	-webkit-column-count:auto; /* Safari and Chrome */
	column-count:auto;
	}
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width:767px) {

	body {
		background-image: none;
	}

	#logo {
		float: none;
	}
	
	#columns {
	-moz-column-count:auto; /* Firefox */
	-webkit-column-count:auto; /* Safari and Chrome */
	column-count:auto;
	}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {

	body {
		background-image: none;
	}


	#logo {
		float: none;
	}
	
	#columns {
	-moz-column-count:auto; /* Firefox */
	-webkit-column-count:auto; /* Safari and Chrome */
	column-count:auto;
	}
	
	#world_champs {
		display: none;
	}
	
	aside {
		float: none;
	}
	
}