/* Color Swatch ------------------------------------
	colorado blue		003d73
	colorado green		ccbe00
	colorado red		cd1c24
--------------------------------------------------*/

body {
	margin: 0;
	background-color: #fff;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	background-color: #fff;
}

header {
	margin: 0;
	background-color: white;
}

#logo {
	float: left;
	margin: 0 30px 0;
}

/* examples-----------------
#columns {
	-moz-column-count: 3;
	-moz-column-gap: 10px;
}

.demo {
	background-color: #999;
	border: 3px solid #666;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	-moz-box-shadow: inset 2px 2px 2px #111;
	-webkit-box-shadow: inset 2px 2px 2px #111;
	box-shadow: inset 2px 2px 2px #111;
	padding: 20px 10px 15px 5px;
}
--------------------------*/

#intro {
	margin: 0;
	background-color: yellow;
	clear: left;
}

#explore {
	overflow: auto;
	margin: 0;
	padding: 0;
	background-color: olive;
}

#main_nav ul li{
	display: inline;
	float: left;
	margin: 0 10px;
}

aside {
	clear: left;
}

#photo_gallery {
	margin: 0;
	background-color: lime;
}

ol li {
	background: orange;
	display: inline;
}

p {
	font-size: 15px;
	/* background-color: #9112ff; */
}

/* pseudo classes for styling links */

a:link {
	color: #ff28bc;
}

a:visited {
	color: #bcbcbc;
}

a:hover {
	color: #0d7cff;
} /* Since any element can be hovered over this can apply to any element */

a:active {
	color: #9112ff;
} /* This applies to when the link is actually being clicked */

E:focus {

} /* primarily useful in forms */

ul {
	list-style-type: none;
}