/* Color Swatch ------------------------------------
	hot pink			ff28bc
	sexy silver			bcbcbc
	electric blue		0d7cff
	passion purple		9112ff
--------------------------------------------------*/

p {
	color: red;
	size: 15px;
}

/* pseudo classes for styling links */

a:link {
	color: #ff28bc;
}

a:visited {
	color: #bcbcbc;
}

a:hover {
	color: #0d7cff;
} /* Since any element can be hovered over this can apply to any element */

a:active {
	color: #9112ff;
} /* This applies to when the link is actually being clicked */

E:focus {

} /* primarily useful in forms */

ul {
	list-style-type: none;
}